*.o
cscope.files
cscope.out
TAGS
tags
*.swp
*.so
*.so.*
libopeniscsiusr/docs/man/
# ^ This folder is used for kernel-doc generated manpages.
libopeniscsiusr/tests/test_context
libopeniscsiusr/tests/test_session
libopeniscsiusr/tests/test_iface
