cscope.*
GPATH
GRTAGS
GTAGS
TAGS
tags
*.swp
libopeniscsiusr/docs/man/
# ^ This folder is used for kernel-doc generated manpages.
libopeniscsiusr/tests/test_context
libopeniscsiusr/tests/test_session
libopeniscsiusr/tests/test_iface
libopeniscsiusr/tests/test_node
# used for testing
.setup*
