#
# Example iSCSI interface config
#
# There must be a seperate iscsi interface config file for each NIC, network
# interface or port or iscsi HBA you want to bind sessions to.
#
# For hardware iscsi, this is created for you when you run iscsiadm.
# For software iscsi, you must define these files yourself.
#

# REQUIRED: iface.transport_name
#
# Set the iscsi transport/driver to use for the iface by setting
# iface.transport_name
# example:
# iface.transport_name = tcp

# This value is required and valid values for iface.transport_name are:
# - tcp (Software iSCSI over TCP/IP)
# - iser (Software iSCSI over infinniband
# - qla4xxx (Qlogic QLA4XXX HBAs)
# - bnx2i (Broadcom bnx iSCSI HBAs);
# - cxgb3i (Chelsio cxgb S3 iSCSI HBAs);
#
#OPTIONAL: iface.initiatorname
# To use a initiator name other than the one set in
# /etc/iscsi/initiatorname.iscsi for normal sessions set the
# iface.initiatorname. This is only used for normal sessions.
# For discovery sessions the /etc/iscsi/initiatorname.iscsi value
# is used.
#
# iface.initiatorname = iqn.2003-04.com.fedora:test
#
#
# REQUIRED to be able to bind a session to a network device:
#			[iface.net_ifacename | iface.hwaddress]
#
# OPTIONAL if you are creating ifaces so you can create multiple sessions
# using the default behavior where the network layer selects the device.
#
# __One__ of the following values are required for binding a session
# to a specific nic/netdevice.
#
# To bind by network interface name (example: eth0, eth2:2, eth1.3)
# set iface.net_ifacename
# example:
# iface.net_ifacename = eth0

# To bind by hardware address set the NIC's MAC address to iface.hwaddress
# example:
# iface.hwaddress = 00:0F:1F:92:6B:BF

# Note you can only bind using one value. If you set multiple values
# the bahavior is not defined.

# For some transport (cxgb3i), a user could to set the private ip address for
# the iscsi traffic for an network interface:
# example:
#  - set iscsi ip on eth0 to be 102.50.50.101, eth0 needs to be up and be on
#    the same subnet.
# iface.net_ifacename = eth0
# iface.ipaddress = 102.50.50.101
