[Unit]
Description=Open-iSCSI iscsiuio Socket
Documentation=man:iscsiuio(8)

[Socket]
ListenStream=@ISCSID_UIP_ABSTRACT_NAMESPACE

[Install]
WantedBy=sockets.target
