[Unit]
DefaultDependencies=no
Before=sysinit.target iscsi.service
RequiresMountsFor=/var/lib/iscsi/nodes
ConditionDirectoryNotEmpty=/var/lib/iscsi/nodes

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=@SBINDIR@/systemctl start --no-block --job-mode=fail iscsi.service

[Install]
WantedBy=sysinit.target
